.table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  border: 10px solid rgb(12, 12, 192);
  background-color: rgb(221, 221, 235);
}
.goal{
  display: flex;
  border-bottom: 1px solid rgb(175, 175, 180);
  padding: 5px 100px 10px 40px; 
} 
.info-goal{
  padding-left: 30px;
}
.goal3{
  border-bottom: none;
}
.primary{
  display: flex;
}
.ic-primary{
  margin: 20px 20px;
}
.icon-star-1{
  margin: 38px 20px;
}
.cell3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.cell {
  border: 6px solid rgb(12, 12, 192);
}
h1 {
  color: rgb(12, 12, 192);
  border-bottom: 1px solid rgb(175, 175, 180);
  padding-bottom: 20px;
}
.section {
  display: flex;
}
.project {
  display: flex;
}
.number {
  border-radius: 50%;
  background-color: #c81cdf;
  color: #faf7f7;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  position: relative
  margin-top: -30px;
}
.info-member {
  display: flex;
}
.member {
  margin: -8px auto 30px 30px;
  display: inline-block;
  position: relative;
}
.content{
  border-bottom: dashed 1px #3967a3;
  margin-top: 10px;
}
.ic-strategy{
  display: block;
  position: relative;
  margin-top: 20px;
  margin-right: 50px;
}
.scopes{
  padding: 20px;
}
.contain1{
  padding-top: 20px;
}
/* Mobile width < 740px */
@media only screen and (max-width: 740px){
  
  .table{
    grid-template-columns: 100%;
    }
    .cell3 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
}
/*Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px){
  /* .cell{
  grid-template-columns: 100%;
  } */
  .table{
    /* grid-template-columns: 100%; */
    grid-template-columns: 1fr;
  }
}